/* c==================================================================
  Config
================================================================== */

/*  Color Setting
===================================== */

/* ---- Text Color---- */

#module-basic #spur_dior2212 .m--color {
    color: #75a6d9;
  }
  
  #module-basic #spur_dior2212 .m--subcolor {
    color: #000;
  }

  #module-basic #spur_dior2212 .m--hamburgercolor {
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    #module-basic #spur_dior2212 .m--color--sp {
      color: #75a6d9;
    }
  }
  
  /* ---- Background Color---- */
  #module-basic #spur_dior2212 .m--color-bg100 {
    background: #75a6d9;
  }
  
  #module-basic #spur_dior2212 .m--color-bg64 {
    background: rgba(117, 166, 217, 0.64);
  }
  
  #module-basic #spur_dior2212 .m--color-bg56 {
    background: rgba(117, 166, 217, 0.56);
  }
  
  #module-basic #spur_dior2212 .m--color-bg48 {
    background: rgba(117, 166, 217, 0.48);
  }
  
  #module-basic #spur_dior2212 .m--color-bg40 {
    background: rgba(117, 166, 217, 0.4);
  }
  
  #module-basic #spur_dior2212 .m--color-bg24 {
    background: rgba(117, 166, 217, 0.24);
  }
  
  #module-basic #spur_dior2212 .m--color-bg20 {
    background: rgba(117, 166, 217, 0.2);
  }

  #module-basic #spur_dior2212 .m--color-bg15 {
    background: rgba(117, 166, 217, 0.15);
  }
  
  /* ---- Border Color---- */
  
  #module-basic #spur_dior2212 .m--border-color100 {
    border-color: #75a6d9;
  }
  
  #module-basic #spur_dior2212 .m--border-color64 {
    border-color: rgba(117, 166, 217, 0.64);
  }
  
  #module-basic #spur_dior2212 .m--border-color56 {
    border-color: rgba(117, 166, 217, 0.56);
  }
  
  #module-basic #spur_dior2212 .m--border-color50 {
    border-color: rgba(117, 166, 217, 0.5);
  }
  
  #module-basic #spur_dior2212 .m--border-color48 {
    border-color: rgba(117, 166, 217, 0.48);
  }
  
  #module-basic #spur_dior2212 .m--border-color40 {
    border-color: rgba(117, 166, 217, 0.4);
  }
  
  #module-basic #spur_dior2212 .m--border-color20 {
    border-color: rgba(117, 166, 217, 0.2);
  }
  
  #module-basic #spur_dior2212 .m--border-subcolor100 {
    border-color: #ffffff;
  }
  
  #module-basic #spur_dior2212 .m--border-subcolor64 {
    border-color: rgba(255, 255, 255, 0.64);
  }
  
  #module-basic #spur_dior2212 .m--border-subcolor56 {
    border-color: rgba(255, 255, 255, 0.56);
  }
  
  #module-basic #spur_dior2212 .m--border-subcolor50 {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  #module-basic #spur_dior2212 .m--border-subcolor48 {
    border-color: rgba(255, 255, 255, 0.48);
  }

  #module-basic #spur_dior2212 .m--border-subcolor40 {
    border-color: rgba(255, 255, 255, 0.4);
  }

  #module-basic #spur_dior2212 .m--border-subcolor20 {
    border-color: rgba(255, 255, 255, 0.2);
  }

  #module-basic #spur_dior2212 a.m--border-color100.m--color:after {
    border-top: solid 1px #75a6d9;;
    border-right: solid 1px #75a6d9;;
  }

  #module-basic #spur_dior2212 .m--color-footer,
  #module-basic #spur_dior2212 .m--color-footer a,
  #module-basic #spur_dior2212 .m--color-footer_nav,
  #module-basic #spur_dior2212 .m--color-footer_nav a  {
    color: #fff;
}

@media screen and (max-width: 768px) {
  #module-basic #spur_dior2212 .m--color-footer_nav,
  #module-basic #spur_dior2212 .m--color-footer_nav a {
    color: #75a6d9;
}
}

   /* ---- Button Color---- */
  #module-basic #spur_dior2212 .m--btn a {
    border: solid 1px #75a6d9;
    color: #75a6d9;
  }
  #module-basic #spur_dior2212 .m--btn a:after {
    border-top: solid 1px #75a6d9;
    border-right: solid 1px #75a6d9;
  }

  #module-basic #spur_dior2212 .m--external {
    color: #ffffff;
    background: #75a6d9;
  }

  #module-basic #spur_dior2212 .m--external-color {
    fill: #ffffff;
  }


/* ---- Font Setting---- */
#module-basic #spur_dior2212.font-set,
#module-basic #spur_dior2212.font-set a {
  font-family: "Yu Gothic Medium","游ゴシック Medium","こぶりなゴシック W3 JIS2004";
  font-weight: 400;
}

#module-basic #spur_dior2212.font-set .font-bold_jp,
#module-basic #spur_dior2212.font-set .font-bold_jp a {
  font-family: "Yu Gothic","こぶりなゴシック W6 JIS2004";
  font-weight: 700;
}

#module-basic #spur_dior2212.font-set .font-web a,
#module-basic #spur_dior2212.font-set .font-web {
  font-family: 'Lora', "游ゴシック Medium", "Yu Gothic Medium", "こぶりなゴシック W3 JIS2004";
  font-weight: 400;
}

#module-basic #spur_dior2212.font-set .font-web--bold a,
#module-basic #spur_dior2212.font-set .font-web--bold {
  font-family: 'Lora',"Yu Gothic", "こぶりなゴシック W6 JIS2004";
  font-weight: 400;
}


/*  Menu Setting
===================================== */
/* ---- Hamburger Color---- */

#module-basic #spur_dior2212 .hamburger-color {
   background-color: #ffffff;
}
/* ---- Menu  Background Color---- */
@media screen and (max-width: 768px) {
  #module-basic #spur_dior2212 .m--menur-bg {
    background: rgba(161, 206, 254, 0.96);
  }
}

  /* ---- style---- */

  #module-basic #spur_dior2212 .top-style-2c .style-list {
    flex-wrap: wrap;
}

  #module-basic #spur_dior2212 .top-style-2c .style-list_item {
    width: 31.5%;
    margin-bottom: 30px;
  }
  
  #module-basic #spur_dior2212 .top-style-2c .style-list_item a,
  #module-basic #spur_dior2212 .top-style-3c .style-list_item a{
    display: block;
  }
  
  #module-basic #spur_dior2212 .top-style-2c .style-list_item a:hover,
  #module-basic #spur_dior2212 .top-style-3c .style-list_item a:hover,
  #module-basic #spur_dior2212 .item-block .item-box_list li a:hover {
    opacity: 0.6;
  }
  
  #module-basic #spur_dior2212 .top-style-2c .sp-box_text span {
    display: block;
    margin: 0 0 5px;
  }

 #module-basic #spur_dior2212 .top-style-2c .style-list {
  max-width: 1170px;
 }

#module-basic #spur_dior2212 .top-style-2c .style-list {
  justify-content: space-between;
}

#module-basic #spur_dior2212 .top-style-2c .style-list_item {
  width: 45%;
  margin: 0 2.5%;
}

#module-basic #spur_dior2212 .top-style-3c .style-list {
  max-width: 1170px;
}

#module-basic #spur_dior2212 .top-style-3c .style-list_item {
  width: 32%;
}

#module-basic .top-style-2c .style-list_box {
  position: relative;
  display: -webkit-flex;
  display: flex;
  line-height: 1;
  margin: 20px 0 0;
}

#module-basic .top-style-2c .style-list .box__num {
  line-height: 1;
  font-size: 23px;
  letter-spacing: 0.04em;
}

#module-basic .top-style-2c .style-list .box__text {
  width: 100%;
  margin: 5px 30px 0 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;
}

#module-basic .top-style-2c .style-list_box:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 1px #4d4d4d;
  border-right: solid 1px #4d4d4d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  right: 2px;
  transition: all .2s;
}

#module-basic #spur_dior2212 .footer-basic .brand-link {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#module-basic #spur_dior2212 .style-profiletxt {
  width: 100%;
  max-width: 750px;
  margin: 185px auto;
}

#module-basic #spur_dior2212 .style-profiletxt p {
  line-height: 1.8;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.04em;
}

#module-basic #spur_dior2212 .style-profiletxt span {
  font-weight: bold;
}

#module-basic #spur_dior2212 .m--lead-style {
  font-size: 28px;
}

#module-basic #spur_dior2212 .m--ttl-style {
  font-size: 40px;
  margin: 0 0 20px;
}

#module-basic .kv-half--ttl {
  font-size: 20px;
  line-height: 1.65;
  margin: 0 0 30px;
  letter-spacing: 0.2em;
}

#module-basic .kv-half--lead {
  font-size: 28px;
  line-height: 1.5;
}

#module-basic .kv-half--lead-small {
  font-size: 26px;
}

#module-basic #spur_dior2212 .item-img h3{
  font-size: 14px;
  margin-bottom: 10px;
}

#module-basic #spur_dior2212 .category-box-pc{
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto 10px;
}

#module-basic #spur_dior2212 .category-box-pc p{
  font-size: 14px;
}

#module-basic #spur_dior2212 .category-box-pc p:first-of-type{
  width: 28%;
  margin: 0 2.5%;
}

#module-basic #spur_dior2212 .category-box-pc p:last-of-type{
  width: 56%;
  margin: 0 5%;
}

#module-basic .item-8c .item-box_list {
  justify-content: flex-start;
}

#module-basic .top-style-3c .style-list {
  margin: 0 auto 50px;
}

#module-basic #spur_dior2212 .movie-profile{
  padding-top: 50px;
}

 @media screen and (max-width: 768px) {
    #module-basic #spur_dior2212 .top-style-2c .style-list {
      max-width: 100%;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .style-list_item {
      width: 100%;
      margin: 0;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .sp-box_text {
      margin: 0;
      font-size: 3.46vw;
      letter-spacing: 0.07em;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .sp-box_text span {
      text-align: center;
      font-size: 5.33vw;
    }
  
    #module-basic .top-style-2c .sp-box_link a {
       margin: 15px 0 0;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .style-list_item:first-child {
      position: relative;
      z-index: 2;
      margin: 0;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .style-list_item:nth-child(2),
    #module-basic #spur_dior2212 .top-style-2c .style-list_item:nth-child(4) {
      flex-direction: row-reverse;
      margin: 25px 0;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .style-list_item a {
      display: inline-block;
      font-weight: 500;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .sp-box {
      margin: 0;
      padding: 0;
    }
  
    #module-basic #spur_dior2212 .top-style-2c .sp-box_link a:after {
      border-top: solid 1px #75a6d9;
      border-right: solid 1px #75a6d9;
      -webkit-backface-visibility: hidden;
    }

    #module-basic #spur_dior2212 .m--btn a {
      font-size: 5.06vw;
  }

    #module-basic .kv-half--box {
      margin: 30px auto 0;
  }

  #module-basic #spur_dior2212 .top-style-3c .style-list_item {
    width: 47%;
  }

  #module-basic #spur_dior2212 .top-style-3c .style-list_item:nth-child(-n+2) {
    margin-bottom: 25px;
  }

  #module-basic #spur_dior2212 .top-style-3c .style-list_item:last-child {
    margin: 0;
  }

  #module-basic #spur_dior2212 .style-profiletxt {
    width: 90%;
    margin: 105px auto;
  }

  #module-basic #spur_dior2212 .style-profiletxt p {
    font-size: 3.46vw;
  }

  #module-basic #spur_dior2212 .kv-half--ttl {
    font-size: 4vw;
    margin: 0 0 10px;
  }

  #module-basic #spur_dior2212 .kv-half--lead {
    font-size: 5.33vw;
  }

  #module-basic .top-style-2c .style-list_box:after {
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
}

  #module-basic .kv-half--lead-small {
    font-size: 5.33vw;
  }
 }


@media screen and (max-width: 768px) {


  #module-basic .footer-basic .footer-content_ttl {
    font-size: 3.46vw;
  }

  #module-basic .footer-basic .footer-content_lead {
    font-size: 4.8vw;
  }
}

#module-basic #spur_dior2212 .kv-line{
  display: block;
  margin-bottom: 10px;
}

#module-basic #spur_dior2212 .kv-line:after {
  content: '';
  display: inline-block;
  width: 40px;
  border: 1px solid #000;
  vertical-align: middle;
  margin-left: 5px;
}

  /*  add
  ===================================== */

  /* STYLE
===================================== */
#module-basic #spur_dior2212 #style-03 {
    margin: 145px 0 0;
  }

  #module-basic #spur_dior2212 .style-l-01 .style-ttl .style-frame,
  #module-basic #spur_dior2212 .style-r-02 .style-ttl .style-frame,
  #module-basic #spur_dior2212 .style-l-03 .style-img p .style-frame,
  #module-basic #spur_dior2212 .style-r-04 .style-img p .style-frame {
    display: none;
  }

  #module-basic #spur_dior2212 .style-r-02 .style-bg {
    padding: 0 0 75px 0;
  }

  #module-basic #spur_dior2212 .style-r-02 .style-btn {
    width: 320px;
}

#module-basic #spur_dior2212 .style-l-03 .style-inner {
  padding: 0;
}

#module-basic #spur_dior2212 .style-r-02 .style-text,
#module-basic #spur_dior2212 .style-r-02 .style-caption,
#module-basic #spur_dior2212 .style-r-02 .style-lead{
  padding-right: 6%;
}

#module-basic #spur_dior2212 .variation-head {
  padding: 0;
  margin-top: 145px;
}

#module-basic #spur_dior2212 .style-head--ttl {
  font-size: 46px;
}

#module-basic #spur_dior2212 .variation-head .style-head--lead {
  font-size: 14px;
}

#module-basic #spur_dior2212 .m--caption-style {
  color: #888;
}

#module-basic #spur_dior2212 .product-margin{
  margin: 50px 0 0;
}

#module-basic #spur_dior2212 .item-categoryname{
  font-size: 26px;
  margin: 0 0 25px;
  text-align: center;
  line-height: 1;
}

#module-basic #spur_dior2212 .info-text .m--paragraph-ttl {
  text-align: center;
}

#module-basic #spur_dior2212 .kv-half--video {
  position: static;
  line-height: 0;
}

#module-basic #spur_dior2212 .kv-half--video .kv-video {
  max-width: 100%;
  min-width: auto;
}

#module-basic #spur_burberry2205 .variation-head {
  padding: 145px 0 0;
}

#module-basic #spur_burberry2205 .style-head--ttl {
  font-size: 46px;
}

#module-basic #spur_burberry2205 .variation-head .style-head--lead {
  font-size: 14px;
}

#module-basic #spur_burberry2205 .product-margin {
  margin: 50px 0 0;
}

#module-basic .m--text-style span{
  font-size: 11px;
}

  @media screen and (max-width: 768px) {
    #module-basic #spur_dior2212 .m--lead-style {
      font-size: 5.33vw;
    }
    #module-basic #spur_dior2212 #style-03 {
      margin: 80px 0 0;
    }
    #module-basic #spur_dior2212 .style-caption a[href^="tel:"] {
      color: #bcbcbc;
      text-decoration: none;
      pointer-events: none;
    }
    #module-basic #spur_dior2212 .style-r-02 .style-bg {
      width: 90%;
      margin: 0 auto;
    }

    #module-basic #spur_dior2212 .style-r-02 .style-btn {
      width: 100%;
    }

    #module-basic #spur_dior2212 .style-r-02 .style-img,
    #module-basic #spur_dior2212 .style-l-03 .style-img {
      padding: 0;
    }

    #module-basic #spur_dior2212 .style-r-02 .style-bg {
      padding: 0;
    }

    #module-basic #spur_dior2212 .style-l-03 .style-ttl {
      margin: 0 0 20px 0px;
    }
    #module-basic #spur_dior2212 .variation-head .style-head--lead {
      text-align: left;
    }
    #module-basic #spur_dior2212 .style-head--ttl {
      font-size: 8.53vw;
    }

    #module-basic #spur_dior2212 .variation-head .style-head--lead {
      font-size: 3.46vw;
    }

    #module-basic #spur_dior2212 .product-margin {
      margin: 35px 0 0;
  }

  #module-basic #spur_dior2212 .m--ttl-style {
    font-size: 9.33vw;
  }

  #module-basic #spur_dior2212 .item-categoryname {
    font-size: 5.33vw;
    padding: 0 2%;
  }

  #module-basic #spur_dior2212 .info-pic {
    margin: 0 0 20px;
    padding: 0;
  }

  #module-basic #spur_burberry2205 .variation-head {
    margin-top: 100px;
  }

  #module-basic #spur_burberry2205 .style-head--ttl {
    font-size: 8.53vw;
  }

  #module-basic #spur_burberry2205 .variation-head .style-head--lead {
    font-size: 3.46vw;
  }

  #module-basic .m--text-style span{
    font-size: 2.93vw;
  }
  }

  @media screen and (max-width: 768px) {
    #spurArticleWrapper .deviceWide {
      overflow-x:visible!important;
    }

    #module-basic .float-inner .float-ttl {
      font-size: 3.73vw;
    }
  }

  @media screen and (max-width: 768px) {
    #module-basic #spur_dior2212 .kv-half--sp-block{
      bottom: 0;
      height: auto;
    }
  }